.header-container {
    background: '#f8f8f8';
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 4;
    height: 40%;
    width: 75%;
}

.header-text {
    font-family: 'Amsterdam', sans-serif;
    font-size: 20rem;
    color: #495057;
    padding: 0;
    margin: 0;
  }