@media only screen and (min-width: 320px) {
  .image-links {
    img {
      width: 60px;
      height: 60px;
      padding: 3%;
    }
  }
}

@media only screen and (min-width: 575px) {
  .image-links {
    img {
      width: 60px;
      height: 60px;
      padding: 3%;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 1920px) {
  .image-links {
    img {
      padding: 3%;
    }
  }

  .home-container {
    // top: 0;
    // left: 40%;
    // position: absolute;
  }

  
}