@font-face {
  font-family: 'Amsterdam';
  src: url('./assets/fonts/Amsterdam.ttf') format('truetype');
}

// p {
//   padding: 0;
//   margin: 0;
// }

a {
  text-decoration: none;
}

.App {
  display: "flex";
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .header-title {
    font-family: 'Amsterdam', sans-serif;
    font-size: 5rem;
    color: #495057;
    padding: 0;
    margin: 0;
  }

  .text-links {
    span {
      a {
        font-size: 0.6rem;
        font-weight: 500;
        color: #42464A;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .header-title {
    font-family: 'Amsterdam', sans-serif;
    font-size: 8rem;
    color: #495057;
    padding: 0;
    margin: 0;
  }

  .text-links {
    span {
      a {
        font-size: 0.8rem;
        font-weight: 500;
        color: #42464A;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 870px) {
  .header-title {
    font-family: 'Amsterdam', sans-serif;
    font-size: 10rem;
    color: #495057;
    padding: 0;
    margin: 0;
  }

  .text-links {
    span {
      a {
        font-size: 1rem;
        font-weight: 500;
        color: #42464A;
      }
    }
  }
}

@media only screen and (min-width: 871px) and (max-width: 1920px) {
  .header-title {
    font-family: 'Amsterdam', sans-serif;
    font-size: 20rem;
    color: #495057;
    padding: 0;
    margin: 0;
  }

  .text-links {
    span {
      a {
        font-size: 1.3rem;
        font-weight: 500;
        color: #42464A;
      }
    }
  }
}

.content-container {
  position: absolute;
  z-index: -99;
  top: 35%;
  left: 30%;
  width: 65%;
  background-image: linear-gradient(transparent 35%, currentColor 40%, currentColor 80%, transparent 95%);
  -webkit-background-clip: text;
    background-clip: text;
    background-attachment: fixed;
}

.content-container > * {
  color: transparent;
}




